@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="@string.Format("https://cdn.cloudflare.steamstatic.com/steam/apps/{0}/header.jpg", @Model.SelectedGame.AppId )" />

<p>@Model.SelectedGame.Name</p>