@page "/counter"
@using SteamRoller.Core

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    SteamLibrary steam = new SteamLibrary();

    private void IncrementCount()
    {
        currentCount++;


        Console.WriteLine("The app has loaded, no flaky code yet.");
        Console.WriteLine("Initialising");
        //Load up Libraries
        // and get installed games.
        Console.WriteLine($" you have {steam.Locations.Count()} steam libs");
        Console.WriteLine("Welcome to the Steam Pick yer game - innit");
        Console.WriteLine($" you have {steam.Games.Count()} games installed");
        Console.WriteLine($" you have {steam.Games.Where(x => x.StateFlags == "4").Count()} state 4 (Ready to play)");
        Console.WriteLine($" you have {steam.Games.Where(x => x.StateFlags == "6").Count()} state 6 (Update scheduled)");

        var random = new Random();
        int index = random.Next(steam.Games.Count);
        Console.WriteLine(steam.Games[index].Name);

        Console.ReadLine();
    }




}
